.aboutUs {
    position: relative;
    margin-bottom: 30px;
}

.personPicture {
    width: 16vw;
    height: 40vh;
    background-color: var(--darkPink);
    position: absolute;
    left: 1.5vw;
    border-radius: 15px;
    background-size: cover;
    background-position: center;
    background-image: url(../../assets/images/R.png);
}

.aboutUs .title {
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
}

.textAlign {
    width: 80vw;
    position: absolute;
    right: 10px;
    text-align: justify;
}

@media (max-width: 768px) {
    .personPicture {
        width: 40vw;
        height: 60vh;
    }

    .textAlign {
        width: 55vw;
        text-align: justify;
    }
}