.sectionProduct {
  align-items: center;
}

.containerProduct{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.Products{
  background-color: var(--lightGreen);
  width: 330px;
  height: 330px;
  border-radius: 15px;
}

@media (max-width: 768px) {
  .Products {
    width: 75vw;
  }
}



